<section class="content-header">
    <h1>
        Thêm mới người dùng
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="accounts">Danh mục người dùng</a></li>
        <li class="active"><a href="#">Thêm mới</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">{{account.FullName}}</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" role="form" novalidate name="frmAddAccount" ng-submit="addAccount()">
                    <div class="box-body">
                        <div class="col-md-8">
                            <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.name.$invalid && frmAddAccount.name.$touched }">
                                <label class="col-sm-2 control-label">Họ tên</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" class="form-control" ng-maxlength="50" required ng-model="account.FullName">
                                    <span style="color:red" ng-show="frmAddAccount.name.$touched && frmAddAccount.name.$invalid">
                                        <span ng-show="frmAddAccount.name.$error.required">Yêu cầu nhập họ tên người dùng.</span>
                                        <span ng-show="frmAddAccount.name.$error.maxlength">Ký tự tối đa là 50.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.userName.$invalid && frmAddAccount.userName.$touched }">
                                <label class="col-sm-2 control-label">Tài khoản</label>
                                <div class="col-sm-10">
                                    <input type="text" name="userName" class="form-control" ng-maxlength="50" required ng-model="account.UserName">
                                    <span style="color:red" ng-show="frmAddAccount.userName.$touched && frmAddAccount.userName.$invalid">
                                        <span ng-show="frmAddAccount.userName.$error.required">Yêu cầu nhập tên tài khoản.</span>
                                        <span ng-show="frmAddAccount.userName.$error.maxlength">Ký tự tối đa là 50.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.password.$invalid && frmAddAccount.password.$touched }">
                                <label class="col-sm-2 control-label">Mật khẩu</label>
                                <div class="col-sm-10">
                                    <input type="password" name="password" class="form-control" ng-maxlength="50" required ng-model="account.Password">
                                    <span style="color:red" ng-show="frmAddAccount.password.$touched && frmAddAccount.password.$invalid">
                                        <span ng-show="frmAddAccount.password.$error.required">Yêu cầu nhập mật khẩu.</span>
                                        <span ng-show="frmAddAccount.password.$error.maxlength">Ký tự tối đa là 50.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.email.$invalid && frmAddAccount.email.$touched }">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" name="email" class="form-control" required ng-model="account.Email">
                                    <span style="color:red" ng-show="frmAddAccount.email.$touched && frmAddAccount.email.$invalid">
                                        <span ng-show="frmAddAccount.email.$error.required">Yêu cầu nhập tên email.</span>
                                        <span ng-show="frmAddAccount.email.$error.email">Email chưa đúng định dạng</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Điện thoại</label>
                                <div class="col-sm-10">
                                    <input type="text" name="phone" class="form-control" ng-model="account.PhoneNumber">
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.birthDay.$invalid && frmAddAccount.birthDay.$touched }">
                                <label class="col-sm-2 control-label">Ngày sinh</label>
                                <div class="col-sm-10">
                                    <input type="text" name="birthDay" id="datepicker" class="form-control" ng-maxlength="50" required  ng-model="account.BirthDay">
                                    <span style="color:red" ng-show="frmAddAccount.birthDay.$touched && frmAddAccount.email.$invalid">
                                        <span ng-show="frmAddAccount.birthDay.$error.required">Yêu cầu nhập ngày sinh.</span>
                                        <span ng-show="frmAddAccount.birthDay.$error.maxlength">Ký tự tối đa là 50.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="well">
                                    <label ng-repeat="group in groups">
                                        <input type="checkbox" checklist-model="account.Groups" checklist-value="group"> {{group.Name}}
                                    </label><br />
                                    <input type="button" value="Chọn hết" ng-click="checkAll()">
                                    <input type="button" value="Bỏ chọn hết" ng-click="uncheckAll()"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <a ui-sref="application_users" class="btn btn-default">Hủy bỏ</a>
                                    <input type="submit" ng-disabled="frmAddAccount.$invalid" class="btn btn-primary" value="Lưu lại" />
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </form>
            </div><!-- /.box -->
        </div>
    </div>
</section>